body {
  margin: 0 auto;
  font-family: "Shadows Into Light", cursive;
  background-color: whitesmoke;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
  padding: 20px 0;
}
.open-diary-btn {
  position: relative;
  border: none;
  outline: none;
  background: none;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.open-diary-underline {
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
.open-diary-btn:hover > .open-diary-underline {
  width: 60px;
}
.view-setting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  column-gap: 20px;
}
.switch {
  background-color: #aab4be;
  border-radius: 10px;
  cursor: pointer;
  height: 20px;
  position: relative;
  top: 8px;
  grid-column: 1/2;
}
.input {
  width: 40px;
  visibility: hidden;
}
.slider {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 4rem;
  background-color: #f3a952;
  top: -7px;
  left: 0px;
  transition: all 0.25s;
}
.slider i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}
.weather-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s;
  grid-column: 2/3;
}
.weather-button:hover > i {
  opacity: 0.7;
}
.weather-button i {
  font-size: 30px;
  color: #f3a952;
  transition: all 0.25s;
}
.music-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  text-align: center;
}
.music-type i {
  font-size: 20px;
}
.music-type-mood {
  grid-column: 1/3;
  color: #fff;
  font-weight: bold;
}
.mood-category {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  transition: all 0.25s;
}
.type-sleep {
  grid-column: 1/2;
}
.type-chill {
  grid-column: 2/3;
}
.music-type-text {
  display: block;
  color: #fff;
  margin-top: 5px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}
.active {
  color: #f3a952 !important;
}
.bg-video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.play-button,
.prev-button,
.next-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s;
}
.play-button img {
  width: 60px;
  height: 60px;
}
.play-button:hover {
  opacity: 0.5;
}
.prev-button:hover {
  opacity: 0.5;
}
.next-button:hover {
  opacity: 0.5;
}
.opa1 {
  opacity: 1;
}
.opa0 {
  opacity: 0;
}
.diary {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  transform: translateY(-1000px);
  transition: all 0.3s linear;
}
.close-diary-btn {
  width: 35px;
  height: 35px;
  position: sticky !important;
  top: 0px;
  left: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  background: none;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.1s linear;
}
.close-diary-btn:hover {
  background-color: rgb(0, 140, 255);
}
.add-diary {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.1s linear;
}
.add-diary:hover {
  background-color: rgb(7, 170, 7);
}
.add-diary:last-of-type {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 105px;
  left: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.1s linear;
}
.add-diary:last-of-type:hover {
  background-color: rgb(255, 0, 0);
}
.notice {
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
  /* font-size: 20px; */
  opacity: 0;
  transition: all 0.25s;
  z-index: 10;
  color: #fff;
  background-color: rgb(255, 0, 0);
  padding: 10px 10px;
  font-family: "Poppins", cursive;
  border-left: 5px solid #fff;
}
.add-diary:last-of-type:hover + .notice {
  opacity: 1;
}
.diary-container {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: 1 !important;
  z-index: 1000;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 50px;
}
.diary-form {
  position: relative;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.form-title-input,
.form-content-textarea,
.form-date-input {
  width: 65%;
  border: 1px solid #ffffff;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.form-title-input,
.form-date-input {
  height: 30px;
  padding: 5px 20px;
  border-radius: 5px;
}
.form-title-input {
  margin-left: 25px;
}
.form-title-input:nth-of-type(2) {
  margin-left: -32px;
}
.form-title-input:last-of-type {
  margin-left: 30px;
}
.form-content-textarea {
  padding: 10px 20px;
  border-radius: 5px;
}
.diary-form-label {
  margin-right: 100px;
}
.form-file-input {
  margin-left: 25px;
  display: inline-block;
}
.custom-upfile-btn {
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
  line-height: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.15s linear;
  margin-right: 100px;
}
.custom-upfile-btn i {
  font-size: 15px;
  margin-right: 10px;
}
.custom-upfile-btn span {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Shadows Into Light", cursive;
}
.custom-upfile-btn:hover {
  box-shadow: 0 0 10px 1px;
}
/* .form-add-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
} */
.form-add-btn {
  padding: 5px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-family: "Shadows Into Light", cursive;
  font-size: 15px;
  cursor: pointer;
  transition: 0.15s linear;
  box-sizing: border-box;
}
.form-add-btn:hover {
  box-shadow: 0 0 10px 1px;
}
.diary-posts-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: all 0.25s;
  word-wrap: break-word;
  overflow-y: auto;
}
#diary-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  padding: 20px 0;
  position: relative;
}
.post-item {
  position: relative;
  width: 30%;
  height: 40%;
  list-style: none;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  /* transition: all 1s; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.new-post-item {
  box-shadow: 0 0 10px 10px rgb(250, 129, 129);
}
.post-item:first-of-type {
  display: none;
}
.post-item-details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  z-index: -100;
}
.post-item h3 {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin-top: 0px;
}
.post-item h3 span {
  font-size: 12px;
  font-style: italic;
  display: block;
  margin-top: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  margin-top: 10px;
  margin-bottom: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3a952;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 129, 129);
}
.post-item p {
  font-size: 15px;
  line-height: 2;
  text-align: justify;
  padding: 0 20px;
  display: none;
  overflow: auto;
  margin-bottom: 40px;
  word-break: break-word;
}
/* .post-item p span {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 80%;
  border-bottom: solid 1px #fff;
  text-align: center;
} */
.post-item a {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  font-style: italic;
  transition: all 0.25s;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.post-item a:hover {
  text-decoration: none;
  color: #f62682 !important;
}
.post-item a:link {
  text-decoration: none;
}
.post-item a:visited {
  color: inherit;
  text-decoration: none;
}
.post-item a i {
  margin-right: 5px;
}
.post-item-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.post-item-controls .controls-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  transition: all 0.1s;
}
.post-item-controls .controls-btn:hover {
  color: #f62682;
}
.post-item-controls .controls-btn i {
  font-size: 17px;
}
.controls-btn:last-of-type {
  border-left: 1px solid #fff !important;
}
.displayContent {
  display: block !important;
}
.zoomPost {
  position: fixed;
  width: 70%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 0 0 10px 10px rgb(250, 129, 129);
  border-radius: 10px;
  z-index: 100;
}
.post-image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
}

/* todo App */
.focus-mode {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  z-index: -1;
}
.focus-mode-btn {
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 20px 20px;
  font-size: 25px;
  color: rgb(185, 185, 185);
  cursor: pointer;
}
.todo-btn {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.todo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0, 0.8);
  visibility: hidden;
  padding: 20px 20px;
  border-radius: 10px;
}
.visibleContent {
  visibility: visible !important;
}
.input-label {
  grid-column: 1/3;
  text-align: center;
  font-family: "Poppins", cursive;
  margin-bottom: 15px;
  color: #f3a952;
  font-size: 20px;
}
.todo-input {
  outline: none;
  border: 2px solid #f3a952;
  border-radius: 5px;
  font-family: "Poppins", cursive;
  padding: 0 10px;
  font-size: 15px;
}
.todo-input-btn {
  border: none;
  background: none;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.todo-input-btn:hover > i {
  color: #fff;
}
.todo-input-btn i {
  font-size: 20px;
  color: #f3a952;
  transition: all 0.25s;
}
.todos-show {
  width: 400px;
  max-height: 270px;
  overflow-y: auto;
}
.todos-show-item {
  /* display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px; */
  width: 100%;
}
.todo-job {
  font-family: "Poppins", cursive;
  margin-left: 20px;
  word-break: break-all;
  padding: 5px 0;
}
.todo-job:hover > .delete-job-btn {
  opacity: 1;
}
.delete-job-btn {
  border: none;
  outline: none;
  background: none;
  color: #f3a952;
  cursor: pointer;
  opacity: 0;
  transition: all 0.25s;
}
.delete-job-btn i {
  margin-left: 20px;
  font-size: 17px;
}
.timer-btn {
  border-top: 2px solid #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.timer-container {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0, 0.8);
  visibility: hidden;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}
.input-container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.timer-input {
  width: 20px;
  height: 20px;
  text-align: center;
  outline: none;
  border: 2px solid #f3a952;
  border-radius: 5px;
}
.input-item {
  display: flex;
  gap: 5px;
  font-family: "Poppins", cursive;
}
.timer-show {
  box-sizing: border-box;
  font-family: "Poppins", cursive;
  font-size: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.timer-show h3 {
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #aab4be36;
  border-radius: 10px;
}
.timer-btn-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid #f3a952; */
  gap: 10px;
}
.timer-control-btn {
  font-family: "Poppins", cursive;
  outline: none;
  background: none;
  color: #f3a952;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.25s;
  border: 1px solid rgb(0, 0, 0, 0.5);
}
.timer-control-btn i {
  font-size: 17px;
}
.timer-control-btn:hover {
  color: #f62682;
}
.timer-control-btn:first-child {
  font-weight: bold;
}
.new-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: none;
  color: #f3a952;
  cursor: pointer;
  transition: all 0.2s;
}
.new-btn:hover {
  color: #f62682;
}
.new-btn i {
  font-size: 20px;
}
.notice-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.notice-btn i {
  font-size: 17px;
}
.notice:last-child {
  top: 0px;
  left: 30.5px;
  transition: all 0.2s;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.notice-btn:hover {
  background-color: red;
}
.notice-btn:hover + .notice {
  opacity: 1;
}
